a {
    color: #067;
    border-bottom: 1px dotted;
    text-decoration: none;   /* replaced by border-bottom */
}

a:hover {
    color: #852;
    border-bottom: 1px solid;
}

.headerlink {
    color: #eee;
    text-decoration: none;
}

.headerlink:hover {
    color: inherit;
    text-decoration: inherit;
}


:root {
    font-family: sans-serif;
    text-align: justify;
}

main {
    max-width: 700px;  /* fits about 80 chars inside <pre> */
    margin: 0 auto;
}

pre {
    font-size: 110%;
    padding: 1ex;
    border-radius: 2px;
    background: #fdf6e3;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
    white-space: pre-wrap;
    word-break: break-all;
}

code {
    font-weight: bold;
}

details > * { margin-left: 2em; }
details > summary { margin-left: unset; }
