a {
    color: #ff7f00;
    border-bottom: 1px dotted;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid;
}

.headerlink {
    color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    margin-left: 0.3em;
}

.headerlink:hover {
    color: inherit;
    text-decoration: inherit;
}

body {
    font-family: sans-serif;
    text-align: justify;
    background: #333;
    color: white;
    max-width: 666px;  /* fits about 80 chars inside <pre> */
    margin: 0 auto;    /* center it */
    line-height: 140%;
}

div.code-container {
    background: #222;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    margin-block: 1em;
}

pre {
    margin: 0px;
    font-size: 105%;
    padding: 0.8em;
    white-space: pre-wrap;
    word-break: break-all;
    text-align: left;
}

div.code-container > span {
    border-bottom: 1px solid #444;
    padding: 1em;
    font-weight: bold;
}

code {
    background: #494949;
    padding: 0.15em 0.3em;
    border-radius: 5px;
}

details > * { margin-left: 2em; }
details > summary { margin-left: unset; }
